/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #e4566e, #ffc3a0,#e4566e);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Styling */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(247, 232, 232);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
}


h1 {
    font-size: 24px;
    color: #f86b52;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

/* Input Fields */
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #ff6347;
}

/* Submit Button */
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #ff6347;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.submit-btn:hover {
    background-color: #ff4500;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
